#customers {
    font-family: "Calibri", Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    /* border-collapse: collapse; */
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 2px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    background-color: #1E1E1E;
    color: white;
}

/*----------------↓↓↓LINK↓↓↓-----------------*/

a.delete:link, a.delete:visited {
    background-color: #FEB8B8;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.delete:hover, a.delete:active {
    background-color: red;
}

a.modify:link, a.modify:visited {
    background-color: #99B2C3;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.modify:hover, a.modify:active {
    background-color: #3BB2C3;
}

/*--------------↓↓↓H1↓↓↓----------------*/

h1.oke {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

h2.oke {
    color: #FF008D;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}